// Place all the styles related to the UserInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table{
    width:90vw;
}
.show-users-head{
    background-color: black;
    th{
        padding: 1em;
        border-bottom: 2px solid white;
        color: white
    }
}
// .show-users-body{
    
    
// }
.users-table{
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    // margin: 50vw;
    // padding: 1em;
    // border-bottom: 2px solid white;
    .profile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        h5{
            font-size: 1em;
        }
    }

    .profile-img{
        object-fit: cover;
        border-radius: 50%;
        width: 100px;
        height: 100px;

        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        // border: 0px solid #000000;


    }
    
}



